{% load static %}

<footer class="footer">
    <div class="left">
        <a href="https://github.com/MotazBellah" target="_blank"><img class="social-icon" src="{% static 'github-logo.png' %}" alt="github Logo"></a>
        <a href="https://twitter.com/AndroidBellah" target="_blank"><img  class="social-icon" src="{% static 'twitter.png' %}" alt="Twitter Logo"></a>
        <p>&copy; 2020 Moataz Bellah Ghobashy.</p>
    </div>


    <ul class="contact-info">
        <li class="phone"><a href="tel:0201069090037">(+20) 1069090037</a></li>
        <li class="mail"><a href="mailto:motazbellahhamdy@gmail.com" target="_blank">motazbellahhamdy@gmail.com</a></li>
    </ul>
</footer>
