
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>🌏 Google Maps Geolocation Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style media="screen">

        html {
            height: 100%;
        }

        body {
            height: 100%;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .map {
            flex: 1;
        }

    </style>
  </head>
  <body>
    <main class="container">
      <div id="map" class="map"></div>
    </main>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDexCJ9aMiGdT3y_HtPEYfR9JsVcj8RbQA&v=3&callback=init"></script>

    <script type="text/javascript">
    function init() {

        var styles = [
              {
                featureType: 'water',
                stylers: [
                  { color: '#19a0d8' }
                ]
              },{
                featureType: 'administrative',
                elementType: 'labels.text.stroke',
                stylers: [
                  { color: '#ffffff' },
                  { weight: 6 }
                ]
              },{
                featureType: 'administrative',
                elementType: 'labels.text.fill',
                stylers: [
                  { color: '#e85113' }
                ]
              },{
                featureType: 'road.highway',
                elementType: 'geometry.stroke',
                stylers: [
                  { color: '#efe9e4' },
                  { lightness: -40 }
                ]
              },{
                featureType: 'transit.station',
                stylers: [
                  { weight: 9 },
                  { hue: '#e85113' }
                ]
              },{
                featureType: 'road.highway',
                elementType: 'labels.icon',
                stylers: [
                  { visibility: 'off' }
                ]
              },{
                featureType: 'water',
                elementType: 'labels.text.stroke',
                stylers: [
                  { lightness: 100 }
                ]
              },{
                featureType: 'water',
                elementType: 'labels.text.fill',
                stylers: [
                  { lightness: -100 }
                ]
              },{
                featureType: 'poi',
                elementType: 'geometry',
                stylers: [
                  { visibility: 'on' },
                  { color: '#f0e4d3' }
                ]
              },{
                featureType: 'road.highway',
                elementType: 'geometry.fill',
                stylers: [
                  { color: '#efe9e4' },
                  { lightness: -25 }
                ]
              }
            ];
      const initialPosition = { lat: 31.2000924, lng: 29.9187387 };

      const map = new google.maps.Map(document.getElementById('map'), {
        center: initialPosition,
        zoom: 15,
        styles: styles,
      });

      const marker = new google.maps.Marker({ map, position: initialPosition });
    }
    </script>
  </body>
</html>
