
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>🌏 Google Maps Geolocation Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style media="screen">

        html {
            height: 100%;
        }

        body {
            height: 100%;
        }

        .container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .map {
            flex: 1;
        }

    </style>
  </head>
  <body>
    <main class="container">
      <div id="map" class="map"></div>
    </main>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDexCJ9aMiGdT3y_HtPEYfR9JsVcj8RbQA&v=3&callback=init"></script>

    <script type="text/javascript">
    function init() {

        var styles = [
              {
                featureType: 'water',
                stylers: [
                  { color: '#19a0d8' }
                ]
              },{
                featureType: 'administrative',
                elementType: 'labels.text.stroke',
                stylers: [
                  { color: '#ffffff' },
                  { weight: 6 }
                ]
              },{
                featureType: 'administrative',
                elementType: 'labels.text.fill',
                stylers: [
                  { color: '#e85113' }
                ]
              },{
                featureType: 'road.highway',
                elementType: 'geometry.stroke',
                stylers: [
                  { color: '#efe9e4' },
                  { lightness: -40 }
                ]
              },{
                featureType: 'transit.station',
                stylers: [
                  { weight: 9 },
                  { hue: '#e85113' }
                ]
              },{
                featureType: 'road.highway',
                elementType: 'labels.icon',
                stylers: [
                  { visibility: 'off' }
                ]
              },{
                featureType: 'water',
                elementType: 'labels.text.stroke',
                stylers: [
                  { lightness: 100 }
                ]
              },{
                featureType: 'water',
                elementType: 'labels.text.fill',
                stylers: [
                  { lightness: -100 }
                ]
              },{
                featureType: 'poi',
                elementType: 'geometry',
                stylers: [
                  { visibility: 'on' },
                  { color: '#f0e4d3' }
                ]
              },{
                featureType: 'road.highway',
                elementType: 'geometry.fill',
                stylers: [
                  { color: '#efe9e4' },
                  { lightness: -25 }
                ]
              }
            ];
        const initialPosition = { lat: 31.2000924, lng: 29.9187387 };

        const map = new google.maps.Map(document.getElementById('map'), {
            center: initialPosition,
            zoom: 15,
            styles: styles,
          });

        var largeInfowindow = new google.maps.InfoWindow();

        // Style the markers a bit. This will be our listing marker icon.
        var defaultIcon = makeMarkerIcon('0091ff');
        // Create a "highlighted location" marker color for when the user
        // mouses over the marker.
        var highlightedIcon = makeMarkerIcon('FFFF24');
        // const marker = new google.maps.Marker({ map, position: initialPosition });
        var marker = new google.maps.Marker({
              map,
              position: initialPosition,
              title: 'Alexandria, Egypt',
              animation: google.maps.Animation.DROP,
              icon: defaultIcon,
              id: 1
            });

        // Create an onclick event to open the large infowindow at each marker.
        marker.addListener('click', function() {
            populateInfoWindow(this, largeInfowindow);
        });
        // Two event listeners - one for mouseover, one for mouseout,
        // to change the colors back and forth.
        marker.addListener('mouseover', function() {
            this.setIcon(highlightedIcon);
        });
        marker.addListener('mouseout', function() {
            this.setIcon(defaultIcon);
        });



    }

    // This function populates the infowindow when the marker is clicked. We'll only allow
    // one infowindow which will open at the marker that is clicked, and populate based
    // on that markers position.
    function populateInfoWindow(marker, infowindow) {
      // Check to make sure the infowindow is not already opened on this marker.
      if (infowindow.marker != marker) {
        infowindow.marker = marker;
        infowindow.setContent('<div>' + marker.title + '</div>');
        infowindow.open(map, marker);
        // Make sure the marker property is cleared if the infowindow is closed.
        infowindow.addListener('closeclick', function() {
          infowindow.marker = null;
        });
      }
    }

      // This function takes in a COLOR, and then creates a new marker
      // icon of that color. The icon will be 21 px wide by 34 high, have an origin
      // of 0, 0 and be anchored at 10, 34).
      function makeMarkerIcon(markerColor) {
        var markerImage = new google.maps.MarkerImage(
          'http://chart.googleapis.com/chart?chst=d_map_spin&chld=1.15|0|'+ markerColor +
          '|40|_|%E2%80%A2',
          new google.maps.Size(21, 34),
          new google.maps.Point(0, 0),
          new google.maps.Point(10, 34),
          new google.maps.Size(21,34));
        return markerImage;
      }

    </script>
  </body>
</html>
