<div class="searchItems">
    <form class="form-inline" method="post" action='{% url "searched_products" %}'>
        {% csrf_token %}
      <input autofocus class="searchInput" name="name" type="search" placeholder="Search" aria-label="Search" required>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<p class="mt-2">If you can't find the product, we can help you to bring
    your product from other websitses, please click <a href="#" data-toggle="modal" data-target="#searchProduct">here</a>
</p>

<div id="searchProduct" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
            <form method="post" id='search-form' action="{% url 'get_data' %}">
                {% csrf_token %}
              <div class="form-group">
                <label for="inputAddress">Product Name</label>
                <input type="text" name="product" class="form-control" id="updateInputAddress" placeholder="iphone x" required>
              </div>
              <p>Please select one or more of the following resources: </p>
              <select class="form-control my-2"  multiple name="resources" required>
                    <option value="ebay">ebay</option>
                    <option value="OLX">OLX</option>
                    <option value="Tinydeal">Tinydeal</option>
              </select>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </form>
      </div>
    </div>

  </div>
</div>
