{% extends "store/layout.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <h4 class="my-3">API Documentation</h4>
        <h5>Introduction</h5>
        <p>The Store API provides a simple <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">RESTful</a> interface
            with lightweight <a href="https://en.wikipedia.org/wiki/JSON">JSON</a>-formatted responses to use many of Store's website features,
            including listing all the categories, listing all the products, and searching for products, using token authentication to allow the access to stors' data.
            This document provides information to developers on how to integrate with the Store API.</p><br>

        <h5>Authentication</h5>
        <p>The Store API requires a token that is provided during app registration.
            The token identifies your application to the Store web service.
            It's passed using the standard Authentication header.</p><br>

        <h5>API Requests</h5>
        <p>The Store API uses a RESTful calling style that works with standard <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">HTTP</a> calls.
            Any web programming language (PHP, Ruby, Perl, Python, Java, Objective C, C#...) should be able to make and receive HTTP networking calls.</p><br>

        <h5>Request URLs</h5>
        <p>In a RESTful API, each resource or collection of resources is identified by a unique URL</p>
        <span>To list all categories</span>
        <code> http://localhost:8000/api/category 'Authorization: Token 9054f7aa9305e012b3c2300408c3dfdf390fcddf' </code><br>
        <span>To list all products</span>
        <code> http://localhost:8000/api/products 'Authorization: Token 9054f7aa9305e012b3c2300408c3dfdf390fcddf' </code><br>
        <span>To search for products</span>
        <code> http://localhost:8000/api/searched-products?search=VALUE 'Authorization: Token 9054f7aa9305e012b3c2300408c3dfdf390fcddf' </code><br>
        <p>As you notice for each URL you should add Authorization token header</p><br>

        <h5>Quick Start</h5>
        <p>In order to start access the API you should have an account to get authentication token, Please click <a href="{% url 'register' %}">here</a> for Registration</p>
        <p>If you already have an account, Please click <a href="{% url 'login' %}">here</a> to log in</p>
        <p>Logged In, great, now you can get your Token, Please click <a id="get-token"href="#">here</a></p>
        <div id="tokenArea">
            <p>Your token is:  <strong><span id="userToken"></span></strong></p>
        </div>
        <p>After getting your token, you can now access the API</p>
        <pre>
    import requests

    url = 'API URL'
    headers = {'Authorization': 'Token Your Authentication Token'}
    r = requests.get(url, headers=headers)
    result = r.json()
        </pre>

    <h6>Example</h6>
    <pre>
    import requests

    url = 'http://localhost:8000/api/products'
    headers = {'Authorization': 'Token 9054f7aa9305e012b3c2300408c3dfdf390fcddf'}
    r = requests.get(url, headers=headers)
    result = r.json()
    </pre>
    <h6>The output</h6>
    <pre>
        [
    {
        "id": 2,
        "name": "Apple AirPods with Wired Charging Case",
        "description": "Automatically on, automatically connected,\r\nEasy setup for all your Apple devices,\r\nQuick access to Siri by saying “Hey Siri”,\r\nDouble-tap to play or skip forward,\r\nNew Apple H1 headphone chip delivers faster wireless connection to your devices,\r\nCharges quickly in the case,\r\nCase can be charged using the Lightning connector,\r\nRich, high-quality audio and voice,\r\nSeamless switching between devices,\r\nListen and talk all day with multiple charges from the Charging Case,",
        "price": 237.0,
        "image1": "/images/phone.jpg",
        "image2": "/images/h3.jpg",
        "image3": "/images/h2.jpg",
        "image4": null,
        "category": 1
    },
    {
        "id": 3,
        "name": "Sony MDRZX110/BLK ZX Series Stereo Headphones",
        "description": "30 millimeter drivers for rich, full frequency response,\r\nLightweight and comfortable on ear design,\r\nSwivel design for portability,\r\n47 ¼ inch (1.2 meter) tangle free, Y type cor,",
        "price": 169.99,
        "image1": "/images/h.jpg",
        "image2": "/images/h7_A1HS4Qm.jpg",
        "image3": null,
        "image4": null,
        "category": 1
    },
    {
        ....
    </pre>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        $('#tokenArea').hide()
        document.getElementById('get-token').addEventListener('click', function(e){
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "{% url 'api_doc' %}",
                headers: {
                        'Content-Type':'application/json',
                        'HTTP_X_REQUESTED_WITH':'XMLHttpRequest',
                        'X-Requested-With':'XMLHttpRequest',
                        'X-CSRFToken':getCookie('csrftoken'),
                    },
                data: JSON.stringify({

                }),
                datatype:'json',
                success: function(response) {

                    if ('error' in response) {
                        document.getElementById('userToken').innerHTML = response['error']
                        $('#tokenArea').slideDown(800)
                        return
                    }
                    if (response['token'] == undefined) {
                         document.getElementById('userToken').innerHTML = 'Please create an account and login'
                         $('#tokenArea').slideDown(800)
                         return
                    }
                  console.log(response['token']);
                  document.getElementById('userToken').innerHTML = response['token']
                  $('#tokenArea').slideDown(1000)

                }
            });

        })

        // From Djang doc.
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>

{% endblock content %}
