{% block content %}
    {% for i in items %}
    <div class="card-container">
        <img class="product-img" src="{{i.image1.url}}" alt="Product_image">
        <div class="card-info">
            <p>{{ i.name }}</p>
            <hr>
            <div class="detail">
                <p class="price"><strong>${{ i.price }}</strong></p>
                <div class="mb-2 buttons">
                    <a class="btn btn-outline-success" href="#">Add to cart</a>
                    <a class="btn btn-outline-secondary" href="#">View</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor%}
{% endblock %}
