{% extends "store/layout.html" %}
{% load static %}

{% block content %}
    <div class="container">
    <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
          {% for i in products %}
              <tr>
                <td>{{ i.product.name }}</td>
                <td>
                    <span>{{ i.quantity }}</span>

                    <a href="#"><i id="up" class="arrow up"></i></a>
                    <a href="#"><i id="down" class="arrow down"></i></a>
                </td>
                <td>${{ i.product.price }}</td>
                <td><a class="fa fa-trash fa-lg" href="#">D</a></td>
              </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>

        <script type="text/javascript">
            const cartTable = document.getElementsByClassName("table")[0]
            console.log(cartTable);
            cartTable.addEventListener('click', function(e) {
                console.log(e.target.tagName);
                console.log(e.target.id);
                if (e.target.tagName === 'I') {
                    if (e.target.id === 'up') {
                        const parentDiv = e.target.parentElement.parentElement
                        const allChild = parentDiv.childNodes;
                        console.log(allChild);
                        let quantity = allChild[1];
                        let quantity_value = allChild[1].textContent
                        console.log(quantity);
                        quantity.innerHTML = 1 + parseInt(quantity_value)
                        // const name = allChild[1].textContent;
                        // const price = allChild[9].textContent;
                    }

                    if (e.target.id === 'down') {
                        const parentDiv = e.target.parentElement.parentElement
                        const allChild = parentDiv.childNodes;
                        console.log(allChild);
                        let quantity = allChild[1];
                        let quantity_value = allChild[1].textContent
                        console.log(quantity);
                        if (parseInt(quantity_value) > 1) {
                            quantity.innerHTML = 1 - parseInt(quantity_value)
                        }


                        // const name = allChild[1].textContent;
                        // const price = allChild[9].textContent;
                    }

                }

            })


        </script>


{% endblock content %}
