{% extends "store/layout.html" %}
{% load static %}

{% block content %}
    <div class="container cart-checkout">
    <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
          {% for i in products %}
              <tr id={{i.id}}>
                <td>{{ i.product.name }}</td>
                <td id={{i.id}}>
                    <span>{{ i.quantity }}</span>

                    <a href="#"><i id="up" class="arrow up"></i></a>
                    <a href="#"><i id="down" class="arrow down"></i></a>
                </td>
                <td>${{ i.get_total|floatformat:"2" }}</td>
                <td><a id="del" class="fa fa-trash fa-lg" href="#"></a></td>
              </tr>
          {% endfor %}
        </tbody>
        </table>

        <h4>Total Price: $<span id="total-price">{{total|floatformat:"2"}}</span></h4><br>
        <hr>
        <h4>Shipping Info:</h4>
        {% if not user_address %}
            <div class="address mt-4">
                <form method="post" id='post-form'>
                    {% csrf_token %}
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" name="address1" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" name="address2" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Phone Number</label>
                    <input type="tel" name="phone" id="inputPhone" class="form-control" placeholder="+201069090037" required>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text" name="city" class="form-control" id="inputCity" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputZip">Zip</label>
                      <input type="text" name="zip" class="form-control" id="inputZip">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary mb-4">Add Shipping Info</button>
                </form>
            </div>
        {% else %}
            <p>If you want to check your shipping info, please click <a href="#" data-toggle="modal" data-target="#readShipping">here</a></p>
            <p>If you want to change/update your shipping info, please click <a href="#" data-toggle="modal" data-target="#updateShipping">here</a></p>

            <div id="readShipping" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                    <p><strong>Address1: </strong>{{shipping_info.address1}}</p>
                    <p><strong>Address2: </strong>{{shipping_info.address2}}</p>
                    <p><strong>Phone Number: </strong>{{shipping_info.phone}}</p>
                    <p><strong>City: </strong>{{shipping_info.city}}</p>
                    <p><strong>Zip: </strong>{{shipping_info.zip}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>

            <div id="updateShipping" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                        <form method="post" id='update-form'>
                            {% csrf_token %}
                          <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" name="address1" class="form-control" id="updateInputAddress" value="{{shipping_info.address1}}">
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2">Address 2</label>
                            <input type="text" name="address2" class="form-control" id="updateInputAddress2" value="{{shipping_info.address2}}">
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2">Phone Number</label>
                            <input type="tel" name="phone" id="updateInputPhone" class="form-control" value="{{shipping_info.phone}}">
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputCity">City</label>
                              <input type="text" name="city" class="form-control" id="updateInputCity" value="{{shipping_info.city}}">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inputZip">Zip</label>
                              <input type="text" name="zip" class="form-control" placeholder="{{shipping_info.zip}}" id="updateInputZip">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update Shipping Info</button>
                            <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                      </form>
                  </div>
                </div>

              </div>
            </div><br><hr>
        {% endif %}

        <div class="payment">
            <form id="payment-form" method="post">
                {% csrf_token %}
              <section>
                <div class="bt-drop-in-wrapper">
                  <div id="bt-dropin"></div>
                </div>
              </section>

              <input type="hidden" id="nonce" name="payment_method_nonce" />
              <button class="button btn btn-primary" type="submit" id="submit-button"><span>Submit Payment</span></button>
            </form>
        </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://js.braintreegateway.com/web/dropin/1.23.0/js/dropin.min.js"></script>
        <script type="text/javascript">

            var form = document.querySelector('#payment-form');
             var client_token = '{{ client_token }}';

             braintree.dropin.create({
               authorization: client_token,
               container: '#bt-dropin',
               paypal: {
                 flow: 'vault'
               }
             }, function (createErr, instance) {
               form.addEventListener('submit', function (event) {
                 event.preventDefault();

                 instance.requestPaymentMethod(function (err, payload) {
                   if (err) {
                     console.log('Error', err);
                     return;
                   }
                   // else
                   // Added ajax

                   // Add the nonce to the form and submit
                   document.querySelector('#nonce').value = payload.nonce;
                   // form.submit();
                   $.ajax({
                       type:'POST',
                       url:'{% url "checkout" %}',
                       data:{
                           payment_method_nonce: $('#nonce').val(),
                           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                           action: 'post'
                       },
                       success:function(response){
                           // document.getElementById("payment-form").reset();
                           console.log(response);
                           // window.location.href = '/cart'
                           window.location.reload(true)
                       },
                       error : function(xhr,errmsg,err) {
                           console.log(xhr.status + ": " + xhr.responseText);
                   }
                   });

                 });
               });
             });


            const cartTable = document.getElementsByClassName("table")[0]

            // From Djang doc.
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            console.log(cartTable);
            let totalPrice = document.getElementById("total-price")
            cartTable.addEventListener('click', function(e) {
                console.log(e.target.tagName);
                console.log(e.target.id);

                if (e.target.tagName === 'I') {
                        const parentDiv = e.target.parentElement.parentElement
                        const allChild = parentDiv.childNodes;
                        const parentDiv2 = e.target.parentElement.parentElement.parentElement

                        console.log(parentDiv2);
                        let price = parentDiv2.childNodes[5]
                        const id = parentDiv.id
                        let quantity = allChild[1];
                        let quantity_value = allChild[1].textContent
                        // console.log(quantity);
                        if (e.target.id === 'up') {
                            action = 'up'
                            quantity.innerHTML = 1 + parseInt(quantity_value)
                        }
                        if (e.target.id === 'down') {
                            if (quantity.innerHTML > 1) {
                                action = 'down'
                                quantity.innerHTML = parseInt(quantity_value) - 1
                            }
                        }

                        let total = quantity.innerHTML
                        console.log(total);
                        $.ajax({
                            type: "POST",
                            url: "/quantity",
                            headers: {
                                    'Content-Type':'application/json',
                                    'HTTP_X_REQUESTED_WITH':'XMLHttpRequest',
                                    'X-Requested-With':'XMLHttpRequest',
                                    'X-CSRFToken':getCookie('csrftoken'),
                                },
                            data: JSON.stringify({
                                  value: total,
                                  id: id,
                            }),
                            datatype:'json',
                            success: function(data) {
                              // if (data['success'])
                              price.innerHTML = "$" + data['total']
                              totalPrice.innerHTML = data['total_price']

                            }
                        });
                        // const name = allChild[1].textContent;
                        // const price = allChild[9].textContent;

                }
                if (e.target.tagName === 'A' && e.target.id === 'del') {
                    // action = 'delete'
                    const row = e.target.parentElement.parentElement
                    const id = row.id

                    $.ajax({
                        type: "POST",
                        url: "/delete",
                        headers: {
                                'Content-Type':'application/json',
                                'HTTP_X_REQUESTED_WITH':'XMLHttpRequest',
                                'X-Requested-With':'XMLHttpRequest',
                                'X-CSRFToken':getCookie('csrftoken'),
                            },
                        data: JSON.stringify({
                              id: id,
                        }),
                        datatype:'json',
                        success: function(data) {
                          // if (data['success'])
                          // price.innerHTML = "$" + data['total']
                          // row.style.display = "none"
                          var fadeEffect = setInterval(function () {
                            if (!row.style.opacity) {
                                row.style.opacity = 1;
                            }
                            if (row.style.opacity > 0) {
                                row.style.opacity -= 0.1;
                            } else {
                                clearInterval(fadeEffect);
                                row.style.display = "none"
                            }
                        }, 200);

                        totalPrice.innerHTML = data['total_price']
                        }
                    });
                }

            })


            $(document).on('submit', '#post-form',function(e){
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url:'{% url "shipping" %}',
                    data:{
                        address1:$('#inputAddress').val(),
                        address2:$('#inputAddress2').val(),
                        phone:$('#inputPhone').val(),
                        zip:$('#inputZip').val(),
                        city:$('#inputCity').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success:function(response){
                        document.getElementById("post-form").reset();
                        console.log(response);
                    },
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                }
                });
            });

            $(document).on('submit', '#update-form',function(e){
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url:'{% url "updateShipping" %}',
                    data:{
                        address1:$('#updateInputAddress').val(),
                        address2:$('#updateInputAddress2').val(),
                        phone:$('#updateInputPhone').val(),
                        zip:$('#updateInputZip').val(),
                        city:$('#updateInputCity').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success:function(response){
                        var closeModal = document.getElementById('close');
                        closeModal.click()
                        console.log(response);
                    },
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                }
                });
            });


        </script>


{% endblock content %}
