{% extends "store/layout.html" %}
{% load static %}

{% block content %}
    <div class="container">
        {% include "components/searchModal.html" %}
        
        <div class="row justify-content-md-center">
            {% for i in category %}
                <div class="col-md-auto card-wrapper">
                    <img class="thumbnail" src="{{i.image.url}}" alt="Category_image">
                    <div>
                        <a href="{% url 'products' i.id %}">{{ i.name }}</a>
                    </div>
                </div>
            {% endfor%}
        </div>
    </div>
{% endblock content %}
