{% extends "store/layout.html" %}
{% load static %}



{% block content %}
<div class="container">
	<div class="row mt-2">
        {% for i in items %}
		<div class="col-md-4 my-2 mx-0.5 card-wrapper">
			<img class="thumbnail" src="{{i.image1.url}}">
			<div class="box-element">
				<h6 class="name mt-1"><strong>{{ i.name }}</strong></h6>
				<hr>

				<button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
				<a class="btn btn-outline-success" href="#">View</a>
				<h4 style="display: inline-block; float: right"><strong>${{ i.price }}</strong></h4>
			</div>
		</div>
        {% endfor%}
	</div>
</div>

{% endblock content %}
