{% extends "store/layout.html" %}
{% load static %}

{% block content %}
    <div class="container cart-checkout">
        <br>
        <div id="shippingFlashMessage">
            <p id="shippingflashConetent"></p>
        </div>
        <h4>Shipping Info:</h4>
            <div id="address" class="address mt-4">
                <form method="post" id='post-form'>
                    {% csrf_token %}
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" name="address1" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" name="address2" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Phone Number</label>
                    <input type="tel" name="phone" id="inputPhone" class="form-control" placeholder="+201069090037" required>
                  </div>
                  <div class="form-group">
                    <label for="inputCountry">Country</label>
                    <input type="text" name="country" class="form-control" id="inputCountry" placeholder="Egypt" required>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputCity">City</label>
                      <input type="text" name="city" class="form-control" id="inputCity" placeholder="Alexandria" required>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputZip">Zip</label>
                      <input type="text" name="zip" class="form-control" placeholder="11111" id="inputZip">
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary mb-4">Add Shipping Info</button>
                </form>
            </div>

            <div id="updating-info">
                <div id="map"></div>



            <p>If you want to check your shipping info, please click <a href="#" data-toggle="modal" data-target="#readShipping">here</a></p>
            <p>If you want to change/update your shipping info, please click <a href="#" data-toggle="modal" data-target="#updateShipping">here</a></p>

            <div id="readShipping" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                    <p><strong>Address1: </strong><span id="shippingAdress1">{{shipping_info.address1}}</span></p>
                    <p><strong>Address2: </strong><span id="shippingAdress2">{{shipping_info.address2}}</span></p>
                    <p><strong>Phone Number: </strong><span id="shippingPhone">{{shipping_info.phone}}</span></p>
                    <p><strong>Country: </strong><span id="shippingCountry">{{shipping_info.country}}</span></p>
                    <p><strong>City: </strong><span id="shippingCity">{{shipping_info.city}}</span></p>
                    <p><strong>Zip: </strong><span id="shippingZip">{{shipping_info.zip}}</span></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>

            <div id="updateShipping" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-body">
                        <form method="post" id='update-form'>
                            {% csrf_token %}
                          <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" name="address1" class="form-control" id="updateInputAddress" value="{{shipping_info.address1}}">
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2">Address 2</label>
                            <input type="text" name="address2" class="form-control" id="updateInputAddress2" value="{{shipping_info.address2}}">
                          </div>
                          <div class="form-group">
                            <label for="inputAddress2">Phone Number</label>
                            <input type="tel" name="phone" id="updateInputPhone" class="form-control" value="{{shipping_info.phone}}">
                          </div>
                          <div class="form-group">
                            <label for="inputCountry">Country</label>
                            <input type="text" name="country" class="form-control" id="updateInputCountry" value="{{shipping_info.country}}" >
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputCity">City</label>
                              <input type="text" name="city" class="form-control" id="updateInputCity" value="{{shipping_info.city}}">
                            </div>
                            <div class="form-group col-md-4">
                              <label for="inputZip">Zip</label>
                              <input type="text" name="zip" class="form-control" placeholder="{{shipping_info.zip}}" id="updateInputZip">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update Shipping Info</button>
                            <button type="button" id="close" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                      </form>
                  </div>
                </div>

              </div>
            </div>
            </div><br><hr>


        <div id="flashMessage">
            <p id="flashConetent"></p>
        </div>
        <h5>Total Price: $<span>{{total|floatformat:"2"}}</span></h5>
        <div class="payment">
            <form id="payment-form" method="post">
                {% csrf_token %}
              <section>
                <div class="bt-drop-in-wrapper">
                  <div id="bt-dropin"></div>
                </div>
              </section>

              <input type="hidden" id="nonce" name="payment_method_nonce" />
              <button class="button btn btn-primary" type="submit" id="submit-button"><span>Submit Payment</span></button>
            </form>
        </div>
        </div>

        <script src="https://js.braintreegateway.com/web/dropin/1.23.0/js/dropin.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDexCJ9aMiGdT3y_HtPEYfR9JsVcj8RbQA&v=3&callback=init"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <script type="text/javascript">
            $('#flashMessage').hide()
            $('#shippingFlashMessage').hide()

            var form = document.querySelector('#payment-form');
            var client_token = '{{ client_token }}';
            var total_value = '{{ total }}'
            var user_shipping_adress = '{{ user_address }}'
            var latitude = {{ location.0 }}
            var longitude = {{ location.1 }}
            var mapTitle = '{{address}}'
            init()

            console.log("TTTTTTTTTTTT");
            console.log(latitude);
            console.log(longitude);

             if (user_shipping_adress === '1') {
                 $('#updating-info').show()
                 $('#address').hide()
             } else {
                 $('#address').show()
                 $('#updating-info').hide()
             }

            if (total_value == '0') {
                document.getElementById("submit-button").disabled = true;
            } else {
                document.getElementById("submit-button").disabled = false;
            }

             braintree.dropin.create({
               authorization: client_token,
               container: '#bt-dropin',
               paypal: {
                 flow: 'vault'
               }
             }, function (createErr, instance) {
               form.addEventListener('submit', function (event) {
                 event.preventDefault();

                 instance.requestPaymentMethod(function (err, payload) {
                   if (err) {
                     console.log('Error', err);
                     return;
                   }
                   // else
                   // Added ajax

                   // Add the nonce to the form and submit
                   document.querySelector('#nonce').value = payload.nonce;
                   // form.submit();
                   $.ajax({
                       type:'POST',
                       url:'{% url "checkout" %}',
                       data:{
                           payment_method_nonce: $('#nonce').val(),
                           csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                           action: 'post'
                       },
                       success:function(response){
                            console.log(response);

                            if ('error' in response) {
                                createFlashMessages('flashMessage', 'flashConetent', "Something went wrong, please try again later!", "error")
                                setTimeout(function(){location.reload()}, 4000);
                            } else {
                                createFlashMessages('flashMessage', 'flashConetent', "Your payment has been processed successfully", "success")

                                setTimeout(function(){location.reload()}, 4000);
                            }

                            // window.location.reload(true)
                           // alert('HHHHH')
                       },
                       error : function(xhr,errmsg,err) {

                           console.log(xhr.status + ": " + xhr.responseText);
                           createFlashMessages('flashMessage', 'flashConetent', "Something went wrong, please try again later!", "error")
                           setTimeout(function(){location.reload()}, 4000);
                   }
                   });

                 });
               });
             });


            function createFlashMessages(flash_div, flash_content, message, class_name) {
                document.getElementById(flash_content).innerHTML = message
                 try {
                         if (class_name == 'error') {
                            document.getElementById(flash_content).classList.remove('success')
                         }
                         if (class_name == 'success') {
                            document.getElementById(flash_content).classList.remove('error')
                         }

                     }
                     catch(err) {
                          // pass
                     }
                document.getElementById(flash_content).classList.add(class_name)
                $('#'+flash_div).slideDown(1000).delay(2000).slideUp(1000);
            }


            // From Djang doc.
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }



            $(document).on('submit', '#post-form',function(e){
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url:'{% url "shipping" %}',
                    data:{
                        address1:$('#inputAddress').val(),
                        address2:$('#inputAddress2').val(),
                        phone:$('#inputPhone').val(),
                        zip:$('#inputZip').val(),
                        city:$('#inputCity').val(),
                        country:$('#inputCountry').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success:function(response){

                        if ('error' in response) {
                            createFlashMessages('shippingFlashMessage', 'shippingflashConetent', response['error'], "error")
                            return
                        }
                        document.getElementById("post-form").reset();
                        console.log(response);
                        createFlashMessages('shippingFlashMessage', 'shippingflashConetent', "Your shipping info has been added", "success")

                        setTimeout(function(){
                            user_shipping_adress === '1'
                            $('#updating-info').show()
                            $('#address').hide()
                        }, 2000);

                        latitude = response['location'][0]
                        longitude = response['location'][1]
                        mapTitle = response['mapTitle']

                        // init()
                        document.getElementById("shippingAdress1").innerHTML = response['info']['address1']
                        document.getElementById("shippingAdress2").innerHTML = response['info']['address2']
                        document.getElementById("shippingPhone").innerHTML = response['info']['phone']
                        document.getElementById("shippingCountry").innerHTML = response['info']['country']
                        document.getElementById("shippingCity").innerHTML = response['info']['city']
                        document.getElementById("shippingZip").innerHTML = response['info']['zip']

                    },
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                        createFlashMessages('shippingFlashMessage', 'shippingflashConetent', "Something went wrong :(", "error")
                }
                });
            });

            $(document).on('submit', '#update-form',function(e){
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url:'{% url "updateShipping" %}',
                    data:{
                        address1:$('#updateInputAddress').val(),
                        address2:$('#updateInputAddress2').val(),
                        phone:$('#updateInputPhone').val(),
                        zip:$('#updateInputZip').val(),
                        country:$('#updateInputCountry').val(),
                        city:$('#updateInputCity').val(),
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        action: 'post'
                    },
                    success:function(response){
                        var closeModal = document.getElementById('close');
                        closeModal.click()
                        if ('error' in response) {

                            createFlashMessages('shippingFlashMessage', 'shippingflashConetent', response['error'], "error")
                            return
                        }

                        latitude = response['location'][0]
                        longitude = response['location'][1]
                        mapTitle = response['mapTitle']

                        // init()

                        createFlashMessages('shippingFlashMessage', 'shippingflashConetent', "Your shipping info has been updated", "success")
                        console.log(response);
                        document.getElementById("shippingAdress1").innerHTML = response['info']['address1']
                        document.getElementById("shippingAdress2").innerHTML = response['info']['address2']
                        document.getElementById("shippingPhone").innerHTML = response['info']['phone']
                        document.getElementById("shippingCountry").innerHTML = response['info']['country']
                        document.getElementById("shippingCity").innerHTML = response['info']['city']
                        document.getElementById("shippingZip").innerHTML = response['info']['zip']

                    },
                    error : function(xhr,errmsg,err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                        createFlashMessages('shippingFlashMessage', 'shippingflashConetent', "Something went wrong :(", "error")
                }
                });
            });


            function init() {

                var styles = [
                      {
                        featureType: 'water',
                        stylers: [
                          { color: '#19a0d8' }
                        ]
                      },{
                        featureType: 'administrative',
                        elementType: 'labels.text.stroke',
                        stylers: [
                          { color: '#ffffff' },
                          { weight: 6 }
                        ]
                      },{
                        featureType: 'administrative',
                        elementType: 'labels.text.fill',
                        stylers: [
                          { color: '#e85113' }
                        ]
                      },{
                        featureType: 'road.highway',
                        elementType: 'geometry.stroke',
                        stylers: [
                          { color: '#efe9e4' },
                          { lightness: -40 }
                        ]
                      },{
                        featureType: 'transit.station',
                        stylers: [
                          { weight: 9 },
                          { hue: '#e85113' }
                        ]
                      },{
                        featureType: 'road.highway',
                        elementType: 'labels.icon',
                        stylers: [
                          { visibility: 'off' }
                        ]
                      },{
                        featureType: 'water',
                        elementType: 'labels.text.stroke',
                        stylers: [
                          { lightness: 100 }
                        ]
                      },{
                        featureType: 'water',
                        elementType: 'labels.text.fill',
                        stylers: [
                          { lightness: -100 }
                        ]
                      },{
                        featureType: 'poi',
                        elementType: 'geometry',
                        stylers: [
                          { visibility: 'on' },
                          { color: '#f0e4d3' }
                        ]
                      },{
                        featureType: 'road.highway',
                        elementType: 'geometry.fill',
                        stylers: [
                          { color: '#efe9e4' },
                          { lightness: -25 }
                        ]
                      }
                    ];
                var initialPosition = { lat: latitude, lng: longitude };

                var map = new google.maps.Map(document.getElementById('map'), {
                    center: initialPosition,
                    zoom: 15,
                    styles: styles,
                  });

                console.log("MAP");
                console.log(initialPosition);

                var largeInfowindow = new google.maps.InfoWindow();

                // Style the markers a bit. This will be our listing marker icon.
                var defaultIcon = makeMarkerIcon('0091ff');
                // Create a "highlighted location" marker color for when the user
                // mouses over the marker.
                var highlightedIcon = makeMarkerIcon('FFFF24');
                // const marker = new google.maps.Marker({ map, position: initialPosition });
                var marker = new google.maps.Marker({
                      map,
                      position: initialPosition,
                      title: " ",
                      animation: google.maps.Animation.DROP,
                      icon: defaultIcon,
                      id: 1
                    });

                // Create an onclick event to open the large infowindow at each marker.
                marker.addListener('click', function() {
                    populateInfoWindow(this, largeInfowindow);
                });
                // Two event listeners - one for mouseover, one for mouseout,
                // to change the colors back and forth.
                marker.addListener('mouseover', function() {
                    this.setIcon(highlightedIcon);
                });
                marker.addListener('mouseout', function() {
                    this.setIcon(defaultIcon);
                });



            }

            // This function populates the infowindow when the marker is clicked. We'll only allow
            // one infowindow which will open at the marker that is clicked, and populate based
            // on that markers position.
            function populateInfoWindow(marker, infowindow) {
              // Check to make sure the infowindow is not already opened on this marker.
              if (infowindow.marker != marker) {
                infowindow.marker = marker;
                marker.title = mapTitle
                infowindow.setContent('<div>' + marker.title + '</div>');
                infowindow.open(map, marker);
                marker.setAnimation(google.maps.Animation.BOUNCE)
                // Make sure the marker property is cleared if the infowindow is closed.
                infowindow.addListener('closeclick', function() {
                  infowindow.marker = null;
                  marker.setAnimation(null);
                });
              }
            }

              // This function takes in a COLOR, and then creates a new marker
              // icon of that color. The icon will be 21 px wide by 34 high, have an origin
              // of 0, 0 and be anchored at 10, 34).
              function makeMarkerIcon(markerColor) {
                var markerImage = new google.maps.MarkerImage(
                  'http://chart.googleapis.com/chart?chst=d_map_spin&chld=1.15|0|'+ markerColor +
                  '|40|_|%E2%80%A2',
                  new google.maps.Size(21, 34),
                  new google.maps.Point(0, 0),
                  new google.maps.Point(10, 34),
                  new google.maps.Size(21,34));
                return markerImage;
              }


        </script>



{% endblock content %}
