* {
  box-sizing: border-box;
}

/* Style the Card */

/* Create card effect by adding shadows */
.card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 29%;
    float: left;
    margin: 10px;
}

/* Add deeper shadow, on mouse-over */
.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/* Image card style */
.card-container img {
    width: 100%;
}

/* Add some padding inside the card container */
.card-info {
  padding: 2px 16px;
}

/* Clear floats after the columns */
.card-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive Card - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .card-container {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* END of Style the Card */

/* Style the product Page */

/* Set padding for box that constains info about the item */
.box-element{
	padding: 7px;
    border-radius: 0 0 4px 4px;
}

/* Add shadow effect for the card */
.card-wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* Add deeper shadow, on mouse-over */
.card-wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/* Set fixed dimension for the images */
.thumbnail{
	width: 100%;
	height: 250px;
}

/* Set fixed height for text area */
.name {
    height: 30px;
}

/* Responsive Card - one column layout (vertical) on small screens */
@media screen and (max-width: 900px) {
  .name {
    height: 58px;
  }
}
/* END the product Page */

/* Style the Item Page */
/* Column conttainer */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* info/right column */
.item-info {
    flex: 40%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* slidshow/left column */
.item-slid {
    flex: 60%;
    padding: 20px;
}

.item-slid img {
    width: 100%;
    padding: 20px;
}

/* END the Item Page */


/* Style login/register page */
.login{
    background-color: white;
    padding: 16px;
    margin: 10px;
    margin-top: 10%;

}

/* Style the login/register messages */
.data-info{
    font-size: 36px;
    color: red;
 }

.info-form{
    margin-top: 10px;
    font-size: 16px;
}

/* END Style login/register page */


/* Style the Cart page */

/* Create arrow */
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

/* Make the arrow pointer up */
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position:relative;
    bottom:10px;
    left:7px;
}

/* Make the arrow pointer down */
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position:relative;
    bottom:-10px;
    left:-7px;
}

.address {
    float: left;
    width: 40%
    padding:16px;
}

.payment {
    float: right;
    width: 60%;
    padding: 16px;
}

.cart-checkout:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .address, .payment {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* END Style Cart page */
