* {
  box-sizing: border-box;
}

/* Style the Card */

/* Create card effect by adding shadows */
.card-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 29%;
    float: left;
    margin: 10px;
}

/* Add deeper shadow, on mouse-over */
.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/* Image card style */
.card-container img {
    width: 100%;
}

/* Add some padding inside the card container */
.card-info {
  padding: 2px 16px;
}

/* Clear floats after the columns */
.card-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive Card - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .card-container {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* END of Style the Card */

/* Style the product card */


.box-element{
	padding: 7px;
}

.card-wrapper {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* Add deeper shadow, on mouse-over */
.card-wrapper:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.thumbnail{
	width: 100%;
	height: 250px;
}

.product{
	border-radius: 0 0 4px 4px;
}

.col-lg-4{
	margin-top: 10px;
}

.name {
    height: 30px;
}


/* Style the price to be right*/
.price {
    float: right;
}

/* Style the buttons to be left*/
.buttons {
    float: left;
}

/* Clear floats after the columns */
.detail:after {
  content: "";
  display: table;
  clear: both;
}

/* Set fixed dimenstions for each image */
.product-img {
    width: 630px;
    height: 350px;
}

/* Use flex box to style the product div */
.row {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
}

/* Make three item per row */
.coll {
    flex: 1 1 20%;
    padding: 5px;
}


.col-container {
    display: table; /* Make the container element behave like a table */
     /* Set full-width to expand the whole page */
}

.col-container .colmn {
    display: table-cell; /* Make elements inside the container behave like table cells */
    width: 20%;
}

@media only screen and (max-width: 600px) {
  .colmn {
    display: block;
    width: 100%;
  }
}
